body {
    font: 16px Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #85edea;

}
/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
}

.tags {
    display: inline;
    background-color: lightblue;
}

.bottom {
    color: white;
    background-color: #36615f;
    padding: 8px;
    margin:20px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    top:10px;
}


/* header */
header {
    background: #5aa19e;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #36615f 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1{
    margin:0;
  }

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #36615f;
    font-weight: bold;
}

header a:hover{
    color: #36615f;
    font-weight: bold;
}

/* Boxes */
#boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    text-align: left;
    padding:10px;
    background-color: #6fc7c4;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #36615f;
    margin-top:10px;
    margin-bottom: 10px;
  }
  
  #boxes .box img{
    width:90px;
  }

/* footer */
footer {
    background-color: #36615f;
    padding:20px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
  
    header{
      padding-bottom:20px;
    }
}