{% extends 'base.html' %}

{% block title %}Blogs{% endblock title %}

{% block content %}
{% load static %}
<section>

  <div class="container py-2">
    <h1>Blogs</h1>
    <ul class="list-group-flush">
      {% for blog in blogs %}
        <li class="list-group-item list-group-item-secondary my-3">
          <h3>{{ blog }}</h3>
          <p>{{ blog.description }}</p>
          <p>{{ blog.date_added|date:'D d, m, Y H'}}</p>
          <a href="{% url 'blogs:blog' blog.id %}" class="btn btn-info btn-sm">Read More</a>
        </li>
      {% empty %}
         <li class="list-group-item list-group-item-info"><p>No blog has been added yet.</p></li>
      {% endfor %}
    </ul>
  
    <a href="{% url 'blogs:new_blog'%}" class="btn btn-outline-primary">Add a new blog</a>
  </div>
  
</section>

{%endblock content%}