{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<section>
  
    <div class="container text-center my-3" style="width: 700px; height: auto;">

        <div class="card bg-warning pt-3">

            <div class="card-block">

                <div class="card-title">
                    <h3>Do you want to delete {{object}}?</h3>
                </div>
                
                <div class="card-text pt-1">
                    <form method="POST">
                        <!-- Security token-->
                        {% csrf_token %}
                        <p>If you delete {{object}}, you will lose all of your progres.</p><br />
                        <button name='submit' class="btn btn-danger">Delete</button> 
                        <a href="{% url 'blogs:index'%}" class="btn btn-success">Cancel</a>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>

{% endblock content %}