{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<section>
  <h1>{{ title }}</h1>
  <div>
    <h2><a href='{% url "blogs:blog" blog.id %}'>{{ blog }}</a></h2>
    <p>{{entry.date_added|date:'D d, m, Y H'}}</p>
    <p class='tags'>Tags:</p>
    {% for tag in tags %}
    <p class='tags'>{{tag}}</p>
    {% endfor %}
    <p>{{ text }}</p> <br />
    <a class="bottom" href="{% url 'blogs:edit_entry' entry_id %}">Edit entry</a>
  </div>
</section>

{% endblock content %}