{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<section>
  
  <div class="container" style="margin:0 50px 0 50px;">

    <h2><a href='{% url "blogs:blog" blog.id %}' style="text-decoration: none; color:black;">{{ blog }}</a></h2>
      
    <h3>{{ title }}</h3>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p>{{entry.date_added|date:'D d, m, Y'}}</p>
        </div>
        
        <div class="col-sm-1">
          <h6>Tags:</h6>
        </div>

        {% for tag in tags %}
          <div class="col-sm-1">
            <p>{{tag}}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    {%if img %}
    <img src="{{img.url}}">
    {% endif %}

    <p>{{ text }}</p>

    {% if request.user == entry.blog.owner %}
      <a href="{% url 'blogs:edit_entry' entry.id %}" class="btn btn-outline-primary">Edit entry</a>
      <a href="{% url 'blogs:delete_entry' entry.id %}" class="btn btn-outline-danger">Delete Entry</a>
    {% endif %}
    
  </div>
</section>

{% endblock content %}