{% extends 'base.html' %}
{% block title %}Welcome{% endblock title %}

{% block content %}

{% load static %}
<section>

  <div class="container pt-3 my-3">

    <div class="jumbotron bg-dark text-white">
      <h2>Hi, welcome to PyDev.com</h2>
      <p>
        This is <i>PyDev.com</i> here you can share all about your passion or anything you want. Here we love to read 
        crazy things and good stories!
      </p>
    </div>

  </div>

</section>

<!--<aside>
  <div class="container">
      <ul>
            <li>Latest:</li>
        {% for e in lts_entries %}
            <li>
              <a href='{% url "blogs:entry" e.id %}'>{{ e.title }}</a>
            </li>
        {% endfor %}
      </ul>
  </div>
</aside>-->
{%endblock content%}