{% extends 'base.html' %}

{% block title%}Latest Entries{% endblock title %}

{% block content %}
{% load static %}
<section>

  <div class="container my-2">
    <h2>Lastest</h2>

    <ul class="list-group-flush">
      {% for entry in entries %}
        <li class="list-group-item  list-group-item-secondary my-3">
          <h3>{{entry.title}}</h3>
          <p>{{entry.text}}</p>
          <p>{{entry.date_added|date:'D d, m, Y H'}}</p>
          <a href='{% url "blogs:entry" entry.id %}' class="btn btn-info btn-sm">Read More</a>
        </li>
      {% empty %}
        <li class="list-group-item-info"><h4>No entry has been added yet.</h3></li>
      {% endfor %}
    </ul>
  </div>

</section>

{%endblock content%}