{% extends 'base.html' %}

{% block title%}Latest Entries{% endblock title %}

{% block content %}
{% load static %}
<section id="boxes">
  <h1>Lastest</h1>

  <ul>
      {% for entry in entries %}
        <li>
          <div class='container'>
            <div class='box'>
              <h2>{{entry.title}}</h2>
              <p>{{entry.text}}</p>
              <p>{{entry.date_added|date:'D d, m, Y H'}}</p>
              <a href='{% url "blogs:entry" entry.id %}'>Read More</a>
            </div>
          </div>
        </li>
      {% empty %}
         <li><h3>No entry has been added yet.</h3></li>
      {% endfor %}
  </ul>

</section>

{%endblock content%}