{% extends 'base.html' %}

{% block title %}new_blog{% endblock title %}

{% block content %}
{% load static %}
<link rel='stylesheet' type='text/css' href='{% static "css/forms.css"%}'/>

<section class="fields-set">

  <div class="container">

    <h1>Add a new blog:</h1>
    <form action="{% url 'blogs:new_blog' %}" method='post'>
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
      
      <div class="form-group">
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>

      <button name='submit' class="btn btn-outline-primary">Add blog</button>
    </form>

  </div>
  
</section>

{%endblock content%}