<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Code Journey{% endblock title %}</title>
        {% load static %}
        <link rel='stylesheet' type='text/css' href='{% static "css/base.css"%}'/>
    </head>

    <body>
        <header>
            <div class="container">
              <div id="branding">
                <h1><span class="highlight">Py</span>Dev</h1>
              </div>
              <nav>
                <li class="current"><a href="{% url 'blogs:index'%}">Home</a> </li>
                <li><a href="{% url 'blogs:blogs'%}">Blogs</a> </li>
                <li><a href="{% url 'blogs:lastest_entries'%}">Lastest entries</a></li>
                <li><a href="{% url 'users:dashboard' %}">Dashboard</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'users:logout'%}">Logout</a></li>
                {% else %}
                  <li><a href="{% url 'users:login'%}">Login</a></li>
                  <li><a href="{% url 'users:register'%}">Singin</a></li>
                {% endif %}
            </nav>
            </div>
        </header>

        <div id='content'>
            {% block content %} {% endblock content %}
        </div>

        <footer>
            <p>Author: Abdiel Sánchez<br />
            <a
            href='mailto:antonio3r4@gmail.com'>antonio3r4@gmail.com</a></p>
        </footer>
    </body>

</html>
